/* Footer Style */

footer#footer {
	width: 100%;
	height: 50px;
	background: #d77705;
}
footer a {
    text-align: center;
    display: block;
    color: #f2f2f2;
    text-transform: uppercase;
    padding-top: 19px;
}
