/* Header Style */

/*  Keyframes  */
@keyframes fadeInMobileBG {
	100% {
		opacity: 1;
	}
}

/* Header Elements, Ids and Classes */
#header {
	width: 100%;
	height: 425px;
	border-bottom: 4px solid #ececec;
	transition: 1s ease-in !important;
	background-position: center !important;
	overflow: hidden;
	position: relative;
}
.init{
	background: #f3f3f3 !important;
}
#header h1 {
	margin: 0;
	padding: 15px 0 15px 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	font-size: 1.8rem;
	color: #864900;
	transition: .75s ease-out;
	position: relative;
	z-index: 100;
	background: rgba(255, 255, 255, 0.6);
}
#header:hover h1 {
	color: #d77705;
}
.logo-image, .logo-image-mobile {
	position: relative;
	margin: 0 auto;
	width: 400px;
	cursor: pointer;
}
.logo-image {
	width: 400px;
}
.logo-image-mobile {
	width: 100%;
}
#left {
	z-index: 2;
	width: 0;
	overflow: hidden;
}
#right {
	z-index: 2;
	width: 0;
	overflow: hidden;
}
#right img {
	width: 400px;
	height: 319px;
	margin-left: 5px;
}
#base, #base-mobile {
	z-index: 1;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}
#left, #right, #base, #base-mobile {
	position: absolute;
	margin: 0 auto;
	height: 319px;
	top: 30px;
}
#left img {
	margin-left: 5px;
}
.red {
	background: #FDF3E7 !important;
}
.blue {
	background: #E4F5EC !important;
}
.trigger-container {
	display: none;
}
/* Animation Behavior for left-side image*/
.reveal-left {
	animation-name: reveal-leftside;
	animation-duration: 1.2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}
.hide-left {
	animation-name: unreveal-leftside;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}
/* Animation Behavior for right-side image*/
.reveal-right {
	animation-name: reveal-rightside;
	animation-duration: 1.2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}
.hide-right {
	animation-name: unreveal-rightside;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}
.logo-image-mobile {
	display: block;
}
.logo-image {
	display: none;
}

/*  Interactive Backgrounds  */

.interactive-bg {
	width: 100%;
	transition: 1s ease-in;
}
#create-bg, 
#develop-bg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
#create-mobile-bg {
	width: 200%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: 1s ease-in;
	z-index: 1;
	animation: fadeInMobileBG 1s 3s linear forwards;
}
.reveal-left,
.reveal-right {
	-webkit-opacity: 0 !important;
	-moz-opacity: 0 !important;
	opacity: 0 !important;
}
