/*  Main body  */

.col h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.3em;
}
.col {
	margin-top: 2em;
	padding: 10px 10px 50px 10px;
	font-size: 1.05em;
	line-height: 1.6em;
	color: #666666;
	max-width: 1000px;
	margin: 0 auto;
}
.quote {
	text-align: center;
	position: relative;
	width: auto;
	font-size: 1.5em;
	text-transform: uppercase;
	line-height: 1.5em;
	margin: 2em auto 3em auto;
	padding: 0 7px;
	max-width: 680px;
	color: #949494;
}
.quote:before {
	content: url(../img/icons/quotes.png);
	position: absolute;
	top: 0;
	left: 12px;
	z-index: -1;
}
.quote span {
	position: absolute;
	bottom: -33px;
	right: 12px;
	font-size: 0.6em;
	font-style: italic;
	color: #8c8c8c;
}
.seperator {
	border: 1px solid #ececec;
	width: 231px;
	margin: 0 auto;
	margin-bottom: 2em;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
}
.statement {
	font-size: 1.33rem;
	position: relative;
	line-height: 2.3rem;
	margin: 50px 0;
}
.final-statement,
.certified-statement {
	font-size: 1.33rem;
	text-align: center;
}
.final-statement .contact-info a,
.certified-statement a {
	text-decoration: none;
	color: #d77705;
}
.final-statement .contact-info a:hover,
.certified-statement a:hover {
	color: #AF5F00;
}

/* Certified Section */
.section {
	margin: 0 2% 72px 2%;
}
.banners {
	margin: 40px 0;
}
.banner {
	display: -ms-flex;
	display: flex;
	height: 58px;
	flex-direction: row;
	align-items: center;
}
.top-border,
.bottom-border {
	background: rgba(247,153,42, 0.75);
	height: 7px;
	width: 100%;
}
.top-border {
	border-radius: 10px 10px 0 0;
}
.bottom-border {
	border-radius: 0 0 10px 10px;
}
.section .inner-text {
	padding: 17px 15px;
	transition: 0.75s;
	background: rgba(247,153,42, 0.07);
}
.section .inner-text:hover {
	background: rgba(247,153,42, 0.07);
}
.banner-title {
	margin-left: 10px;
	max-width: 383px;
	margin-top: -2px;
	line-height: 17px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.4px;
}
.school-logo img {
	width: 42px;
	height: 42px;
}
.info {
	padding: 9px;
}
.degree-link {
	margin: 2rem auto 0 auto;
	width: 150px;
	display: block;
	text-align: center;
	border: 2px solid #cecece;
	border-radius: 12px;
	padding: 3px 6px;
	color: #909090;
	transition: .30s;
}
.degree-link:hover {
	color: rgba(247,153,42, 1);
}
.note{
	font-size: 1rem;
	line-height: 1.8rem;
}
.note li {
	list-style-type: none;
	margin-left: -20px;
}
.note li:before {
	content: "*";
	position: absolute;
	left: 0;
    top: 7px;
    font-size: 1.7rem;
}