/******************
  KEY FRAMES
******************/

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-t {
  100% {
    fill: #854902;
  }
}

@keyframes fill-tan {
  100% {
    fill: #d77705;
  }
}

@keyframes fill-brown {
  100% {
    fill: #854902;
  }
}

@keyframes shrink {
  100% {
    transform: scale(0.75, 0.75);
  }
}


/******************
  STYLE
******************/

#logo-wrapper {
  display: flex;
  justify-content: center;
}

.logo-container {
  width: 400px;
  height: 400px;
}

#svg-logo {
  transform-origin: 50% 50%;
  stroke: #d77705;
  stroke-width: 2;
  stroke-dasharray: 2360;
  stroke-dashoffset: 2360;
  animation: offset 4s linear forwards, shrink 2s 2s forwards;
}

/* Style */

.cls-3,
.cls-6 {
  fill: transparent;
  animation: fill-tan 1s 2s forwards;
}

.cls-7,
.cls-8 {
  fill: transparent;
  animation: fill-t 1s 2s forwards;
}

.hide-svg,
.hide-img {
  display: none !important;
}
#logo-container {
  width: 250px;
  height: 250px;
  margin: 40px auto 0 auto;
  position: relative;
  z-index: 100;
}
.hide-img {
  display: none !important;
}

#svg-alternative {
  margin: 0 auto;
  max-width: 225px;
}